{% extends "base.html" %}
{% load i18n allauth %}

{% block head_title %}
    {% trans "Two-Factor Authentication" %}
{% endblock head_title %}

{% block content %}
<div class="max-w-6xl mx-auto space-y-6 mt-6">

    <h1 class="text-3xl font-bold text-gray-800 mb-2">{% trans "Two-Factor Authentication" %}</h1>

    <!-- Authenticator App (TOTP) -->
    {% if "totp" in MFA_SUPPORTED_TYPES %}
        <div class="bg-white shadow-md rounded-lg p-8 space-y-4">
            <h2 class="text-xl font-semibold">{% trans "Authenticator App" %}</h2>
            <p>
                {% if authenticators.totp %}
                    {% trans "Authentication using an authenticator app is active." %}
                {% else %}
                    {% trans "An authenticator app is not active." %}
                {% endif %}
            </p>
            <div class="flex space-x-2">
                {% url 'mfa_activate_totp' as activate_url %}
                {% url 'mfa_deactivate_totp' as deactivate_url %}
                {% if authenticators.totp %}
                    <a href="{{ deactivate_url }}" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">
                        {% trans "Deactivate" %}
                    </a>
                {% else %}
                
                    <a href="{{ activate_url }}" class="px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-700">
                        {% trans "Activate" %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <!-- Security Keys (WebAuthn) -->
    {% if "webauthn" in MFA_SUPPORTED_TYPES %}
        <div class="bg-white shadow-md rounded-lg p-8 space-y-4">
            <h2 class="text-xl font-semibold">{% trans "Security Keys" %}</h2>
            <p>
                {% if authenticators.webauthn|length %}
                    {% blocktranslate count count=authenticators.webauthn|length %}
                        You have added {{ count }} security key.
                    {% plural %}
                        You have added {{ count }} security keys.
                    {% endblocktranslate %}
                {% else %}
                    {% trans "No security keys have been added." %}
                {% endif %}
            </p>
            <div class="flex space-x-2">
                {% if authenticators.webauthn|length %}
                    {% url 'mfa_list_webauthn' as webauthn_list_url %}
                    <a href="{{ webauthn_list_url }}" class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">
                        {% trans "Manage" %}
                    </a>
                {% else %}
                    {% url 'mfa_add_webauthn' as webauthn_add_url %}
                    <a href="{{ webauthn_add_url }}" class="px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-700">
                        {% trans "Add" %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <!-- Recovery Codes -->
    {% if "recovery_codes" in MFA_SUPPORTED_TYPES %}
        {% with total_count=authenticators.recovery_codes.generate_codes|length unused_count=authenticators.recovery_codes.get_unused_codes|length %}
            <div class="bg-white shadow-md rounded-lg p-8 space-y-4">
                <h2 class="text-xl font-semibold">{% trans "Recovery Codes" %}</h2>
                <p>
                    {% if authenticators.recovery_codes %}
                        {% blocktranslate count unused_count=unused_count %}
                            There is {{ unused_count }} out of {{ total_count }} recovery codes available.
                        {% plural %}
                            There are {{ unused_count }} out of {{ total_count }} recovery codes available.
                        {% endblocktranslate %}
                    {% else %}
                        {% trans "No recovery codes set up." %}
                    {% endif %}
                </p>
                <div class="flex flex-wrap gap-2">
                    {% if is_mfa_enabled and authenticators.recovery_codes %}
                        {% if unused_count > 0 %}
                            {% url 'mfa_view_recovery_codes' as view_url %}
                            <a href="{{ view_url }}" class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
</svg>

                                {% trans "View" %}
                            </a>
                            {% url 'mfa_download_recovery_codes' as download_url %}
                            <a href="{{ download_url }}" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 flex gap-2">
                                        <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
</svg>
                                {% trans "Download" %}
                            </a>
                        {% endif %}
                    {% endif %}
                    {% url 'mfa_generate_recovery_codes' as generate_url %}
                    <a href="{{ generate_url }}" class="px-4 py-2 bg-purple-600 text-white rounded hover:bg-purple-700">
                        {% trans "Generate" %}
                    </a>
                </div>
            </div>
        {% endwith %}
    {% endif %}

</div>
{% endblock content %}
